@model ContactViewModel
@using Featurify
@using Featurify.Contracts
@using Featurify.Demo.Features

@inject IFeaturifyServer Featurify

@{
    ViewData["Title"] = "Featurify Demo";
}

<h2>@ViewData["Title"]</h2>

<strong>ImportFeature</strong>: Enabled
<br /><br />
@if (Model.CanImport)
{
    <button class="btn btn-success"><i class="glyphicon glyphicon-import"></i> Import Users</button>
}
else
{
    <button class="btn btn-danger" disabled><i class="glyphicon glyphicon-import"></i> Import Users</button>
}

<br /><br />

<strong>ExportFeature</strong>: Disabled
<br /><br />
@if (await Featurify.Is<ExportFeature>().Enabled())
{
    <button class="btn btn-success"><i class="glyphicon glyphicon-export"></i> Export Users</button>
}
else
{
    <button class="btn btn-danger" disabled><i class="glyphicon glyphicon-export"></i> Export Users</button>
}

<br /><br />

<strong>EmailFeature</strong>: Enabled
<br /><br />

@if (await Featurify.Enabled<EmailFeature>())
{
    <button class="btn btn-success"><i class="glyphicon glyphicon-send"></i> Send Email</button>
}
else
{
    <button class="btn btn-danger" disabled><i class="glyphicon glyphicon-send"></i> Send Email</button>
}
